{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

 <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" style:"font-family: 'Montserrat', sans-serif;" href="#page-top">HiPy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Hives</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Join the Hive</div>
                <div class="intro-lead-in">For communities of students who want to learn Python.</div>
                <br/>
                <a href="#portfolio" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>


    <!-- Services Section
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    -->

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hives</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-md-8 col-md-offset-2 about">
                    <p>You can sign-up now for any of our upcoming Hives. Each hive has some overarching theme but
                        there'll generally be lots of other cool Python related stuff going on simultaneously. All of our Hives
                        are designed to cater for every level of ability and we rely heavily on those who know Python to help out
                        and pass on their valuable knowledge to others.
                    </p>

                    </br>
                    </br>

                </div>
             </div>
            <div class="row">

                {% for event in events %}
                <div id="port_{{forloop.counter}}"class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{forloop.counter}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{event.hive.thumbnail.url}}" class="img-responsive" alt="">
                        
                         
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ event.hive.title }}</h4>
                        <p class="text-muted">{{ event.hive.subtitle }}</p>
                        </br>
                        <p><strong>{{event.start_time|date:"D d M Y"}}, {{event.start_time|date:"f"}} p.m. until {{event.finish_time|date:"f"}} p.m.</strong></p>
                        <p style="font-size: 0.95em;">{{event.location}}</p>
                        </br>
                        <p><i class="fa fa-users" aria-hidden="true"></i> {{ event.registrations }}</p>
                    </div>
                    <a href="/register/{{ event.id }}">
                        <div class="signup">
                            <h4 style="padding-top: 30px;text-align: center; color: white; margin:0;">Sign me up!</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 about">
                    <p>HiPy was started in July 2016 by a group of researchers within the Faculty of Science and
                        Engineering at University of Liverpool. The intiative is a response to a large demand from
                        undergraduates and staff to learn coding skills which are highly prized by employers. Our
                        mission is simple:
                    </p>
                    <p><strong>Build an open, welcome community for <u>anyone</u> who wants to learn Python.</strong></p>
                    <p>So, whether you're an absolute novice or seasoned hacker, if you're interested in Python
                       come and join us. All of our events are free and everybody is welcome. <strong>Come All. Learn Python.</strong>
                    </p>
                    </br>
                    <img style="width:100%;" src="{% static 'img/python_group.jpg' %}"/>

                    <!--
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/about/1.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/about/2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/about/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/about/4.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Beekeeper Team</h2>
                    <br/>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                {% for beekeeper in beekeepers %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{beekeeper.thumbnail.url}}" class="img-responsive img-circle" alt="">
                        <h4>{{beekeeper.first_name}} {{beekeeper.last_name}}</h4>
                        <br/>
                        <ul class="list-inline social-buttons">
                            {% if beekeeper.twitter %}
                            <li><a href="{{beekeeper.twitter}}"><i class="fa fa-twitter"></i></a>
                            </li>
                            {% endif %}
                            {% if beekeeper.facebook %}
                            <li><a href="{{beekeeper.facebook}}"><i class="fa fa-facebook"></i></a>
                            </li>
                            {% endif %}
                            {% if beekeeper.linkedIn %}
                            <li><a href="{{beekeeper.linkedIn}}"><i class="fa fa-linkedin"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">If you would like to become a beekeeper then get in touch. We are always very grateful for additional support.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                {% for sponsor in sponsors %}
                <div class="col-md-3 col-sm-6">
                    <a href="{{sponsor.url}}">
                        <img style="max-width: 300px;" src="{{sponsor.logo.url}}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Got a question? Ask away.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="contact-icons" style="color:white; text-align: center;">
                        <a href="mailto:hipyliv@gmail.com"><i class="fa fa-envelope fa-5x"></i></a>
                        <a href="https://twitter.com/hipyliv"><i class="fa fa-twitter fa-5x"></i></a>
                        <a href="https://facebook.com/hipyliv"><i class="fa fa-facebook fa-5x"></i></a>
                    </p>

                </div>
            </div>
        </div>
    </section>



    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    {% for event in events %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ event.hive.title}}</h2>
                                <p class="item-intro text-muted">{{event.hive.subtitle}}</p>
                                <p><strong>{{event.start_time|date:"D d M Y"}}, {{event.start_time|date:"f"}} p.m. until {{event.finish_time|date:"f"}} p.m.</strong></p>
                                <p style="font-size: 1em;">{{event.location}}</p>

                                </div>
                                <img class="img-responsive img-centered" src="{{event.hive.thumbnail.url}}" alt="">
                                <p>Like with all of our Hives, don't feel like you have to follow our script. If you just want to come and hang out and talk about Python then that's fine. Better still, if you're working on some gritty scripts at the moment for a cool application then we want you to tell us about it!</p><p><strong>Come All. Learn Python.</strong></p>
                                <p><i class="fa fa-users fa-3"></i> {{ event.registrations }}</p>
                                <a href="/register/{{event.hive.id}}">
                                    <div class="signup">
                                        <h4 style="padding-top: 30px;text-align: center; color: white; margin:0;">Sign me up!</h4>
                                    </div>
                                </a>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}



