{% extends "idea-base.html" %}
{% load staticfiles %}

{% block content %}
<div class="idea-jumbo col-lg-10 col-lg-offset-1" style="width: 98%;">
    <div class="row">
        <div class="col-md-6">
            <div style="display: inline-block; min-height: 400px; width:100%; margin: 0 auto; padding: 5%;">
                <p style="font-family: Roboto; font-size: 2em; color:white;">

                </p>

                <p class="title-font-top lv" style="margin:-0px auto; transform: rotate(-10deg);width:355px; margin-bottom: -50px;">liv</p>
                <div style="height: 160px; width:315px; margin: 0 auto;">
                     <p class="title-font element">&#x00c6</p>
                     <p class="title-font element">&#x00c6</p>
                     <p class="title-font element">&#x00c6</p>
                     <p class="title-font element">&#x00c6</p>
                </div>
                <div style="height: 160px; width:315px; margin: -160px auto;">
                      <p class="title-font element1" style="color:white;"></p>
                      <p class="title-font element2" style="color:white;"></p>
                      <p class="title-font element3" style="color:white;"></p>
                      <p class="title-font element4" style="color:white;"></p>
                    <p style="font-family: Roboto; font-size: 2em; color:white;" class="subtitle">

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:50px;">
            <p style="font-family: Roboto; font-size: 2em; color:white; margin: 5%;">
                Here's a chance for you to try that amazing project you've been thinking about.
            </p>
            <p style="font-family: Roboto; font-size: 2em; color:white; margin: 5%; font-weight:200;">
                We're building a network of people and resources so that <i>you</i> can make stuff happen.
            </p>
                <p style="font-family: Roboto; font-size: 2em; color:white; margin: 5%; margin-bottom: 0px;">Launch Event: "Build a 3D Printer"</p>
                <p style="font-family: Roboto; font-size: 2em; color:white; margin: 0 5%; font-weight:200; margin-top:0;">When/Where: 25 Jan, CTL</p>
                <a href="http://hipy.uk/register/5"><button style="margin: 5%; margin-bottom: 0; min-height: 80px; type="button" class="btn btn-primary">Register Now</button></a>

        </div>
        <br>
        <br>

        <div class="col-md-12" style="margin-top: 40px;">
            <hr style="margin: 1% 5%;">
            <p style="font-family: Roboto; font-weight:100; font-size: 1.5em; color:white; margin: 0 5%; margin-top: 0">We get by with a little help from our friends ...</p>
            <p style="margin: 0 auto; width:100%; text-align: center;">
                <img class="friend-logo" src="{% static 'img/liverpool.png' %}">
                <img class="friend-logo" src="{% static 'img/hipy_logo.png' %}">
                <img class="friend-logo" src="{% static 'img/rf.png' %}">
                <img class="friend-logo" src="{% static 'img/cdtpv.png' %}">
                <img class="friend-logo" src="{% static 'img/brothers.png' %}">
            </p>
        </div>
    </div>
</div>


{% endblock %}
