{% extends "idea-base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<style>
    div.jumbotron-idea {
        height: 100vh;
        display:flex;
        align-items: center;
</style>

 <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll title-font" style="font-family: alarm;"  href="#page-top">IdEA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Sessions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->



 <div id="page-top" class="jumbotron vertical-center">
     <div class="jumbotron vertical-center layer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-lg-12">
                        <div class="logo">
                            <img src="{% static 'img/logo_bw_web.png' %}" />
                        </div>

                        <div class="center">
                            <span class="element typed"></span>
                            <span class="typed-cursor typed"></span>
                        </div>
                    </div>

                    <div class="center">
                        <a href="#portfolio" class="page-scroll btn btn-xl">
                            Tell Me More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sessions</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-md-8 col-md-offset-2 about">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius nunc sem, at luctus lectus suscipit at. In porta efficitur viverra. Suspendisse consequat aliquet velit. Sed vitae hendrerit neque. Suspendisse potenti. In sollicitudin enim eros, ut luctus lectus sollicitudin nec. Nullam sagittis lectus ut sapien aliquet accumsan. Sed a erat neque.
                    </p>
                    <p>
Ut molestie suscipit orci in lobortis. Quisque facilisis augue sed mi elementum pretium. Quisque sagittis tempor augue. Pellentesque mollis enim sed leo suscipit, ac dapibus magna viverra. Donec eget urna a risus sollicitudin aliquam. Morbi sit amet luctus metus. Donec blandit, libero semper finibus consectetur, dui lacus semper sapien.
                    </p>

                    </br>
                    </br>

                </div>
             </div>
            <div class="row">

                {% for event in events %}
                <div id="port_{{ event.id }}"class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{event.id}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover portfolio-hover-{{event.hive.project.title}}">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        {% thumbnail event.hive.thumbnail "600x400" crop="center" as im %}
                        <img src="{{im.url}}" class="img-responsive" alt="">
                        {% endthumbnail %}


                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ event.hive.title }}</h4>
                        <p class="text-muted">{{ event.hive.subtitle }}</p>
                        </br>
                        <p><strong>{{event.start_time|date:"D d M Y"}}, {{event.start_time|date:"f"}} p.m. until {{event.finish_time|date:"f"}} p.m.</strong></p>
                        <p style="font-size: 0.95em;">{{event.location}}</p>
                        </br>
                        <p><i class="fa fa-users" aria-hidden="true"></i> {{ event.registrations }}</p>
                    </div>
                   {% if event.max_reg < event.registrations %}
                            <div class="signup signup-{{event.hive.project.title}}">
                                    <h4 style="padding-top: 30px;text-align: center; color: white; margin:0;">Fully Booked</h4>
                            </div>
                        {% else %}
                            <a href="/register/{{ event.id }}">
                                <div class="signup signup-{{event.hive.project.title}}">
                                    <h4 style="padding-top: 30px;text-align: center; color: white; margin:0;">Sign me up!</h4>
                                </div>
                            </a>
                        {% endif %}
                </div>
                {% endfor %}

                <!--
                <div class="col-md-8 col-md-offset-2" style="text-align:center;">
                    <h3 class="section-heading"> Previous Hives</h3>
                    {% for pevent in past_events %}
                    <p><a href="hive/{{ pevent.id }}" target="_blank">{{ pevent.hive.title }}</a>, {{pevent.start_time|date:"D d M Y"}}, {{ pevent.location }} | <i class="fa fa-users" aria-hidden="true"></i> {{ pevent.registrations }}</p>
                    {% endfor %}
                </div>
                -->
                 {% if user.is_authenticated %}
                <div class="col-lg-12 center" style="text-align: center;">
                    <a href="mailto: {{ emails }}"><i class="fa fa-envelope fa-3x"> {{ emails_len }}</i></a>
                </div>
                {% endif %}

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section style="background:#fff" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 about">
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius nunc sem, at luctus lectus suscipit at. In porta efficitur viverra. Suspendisse consequat aliquet velit. Sed vitae hendrerit neque. Suspendisse potenti. In sollicitudin enim eros, ut luctus lectus sollicitudin nec. Nullam sagittis lectus ut sapien aliquet accumsan. Sed a erat neque.
                    </p>
                    <p>
Ut molestie suscipit orci in lobortis. Quisque facilisis augue sed mi elementum pretium. Quisque sagittis tempor augue. Pellentesque mollis enim sed leo suscipit, ac dapibus magna viverra. Donec eget urna a risus sollicitudin aliquam. Morbi sit amet luctus metus. Donec blandit, libero semper finibus consectetur, dui lacus semper sapien.
                    </p>
                    </br>
                    <img style="width:100%;" src="{% static 'img/idea_pic.jpg' %}"/>


                </div>
            </div>
        </div>
    </section>



    <!-- Team Section -->
<!--
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Beekeeper Team</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                {% for beekeeper in beekeepers %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{beekeeper.thumbnail.url}}" class="img-responsive img-circle" alt="">
                        <h4>{{beekeeper.first_name}} {{beekeeper.last_name}}</h4>
                        <br/>
                        <ul class="list-inline social-buttons">
                            {% if beekeeper.twitter %}
                            <li><a href="{{beekeeper.twitter}}"><i class="fa fa-twitter"></i></a>
                            </li>
                            {% endif %}
                            {% if beekeeper.facebook %}
                            <li><a href="{{beekeeper.facebook}}"><i class="fa fa-facebook"></i></a>
                            </li>
                            {% endif %}
                            {% if beekeeper.linkedIn %}
                            <li><a href="{{beekeeper.linkedIn}}"><i class="fa fa-linkedin"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">If you would like to become a beekeeper then get in touch. We are always very grateful for additional support.</p>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- Clients Aside -->
    <!--
    <aside class="clients">
        <div class="container">
            <div class="row">
                {% for sponsor in sponsors %}
                <div class="col-md-3 col-sm-6">
                    <a href="{{sponsor.url}}">
                        <img style="max-width: 300px;" src="{{sponsor.logo.url}}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </aside>
    -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Got a question? Ask away.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="contact-icons" style="color:white; text-align: center;">
                        <a href="mailto:hipyliv@gmail.com"><i class="fa fa-envelope fa-5x"></i></a>
                        <a href="https://twitter.com/liv_idea"><i class="fa fa-twitter fa-5x"></i></a>
                    </p>

                </div>
            </div>
        </div>
    </section>



    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    {% for event in events %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ event.hive.title}}</h2>
                                <p class="item-intro text-muted">{{event.hive.subtitle}}</p>
                                <p><strong>{{event.start_time|date:"D d M Y"}}, {{event.start_time|date:"f"}} p.m. until {{event.finish_time|date:"f"}} p.m.</strong></p>
                                <p style="font-size: 1em;">{{event.location}}</p>
                                {% if event.max_reg < event.registrations %}
                                <div class="signup signup-{{event.hive.project.title}}">
                                        <h4 style="padding-top: 30px;text-align: center; color: white; margin:0;">Fully Booked</h4>
                                    </div>
                                {% else %}

                                <a href="/register/{{event.id}}">
                                    <div class="signup signup-{{event.hive.project.title}}">
                                        <h4 style="padding-top: 30px;text-align: center; color: white; margin:0;">Sign me up!</h4>
                                    </div>
                                </a>
                                {% endif %}

                                <img class="img-responsive img-centered" src="{{event.hive.thumbnail.url}}" alt="">
                                {{ event.hive.description|safe }}
                                <p><i class="fa fa-users fa-3"></i> {{ event.registrations }}</p>
                                <br/>
                                <h3>Resources</h3>
                                <p>
                                    <ul style="text-align: left">
                                    {% for resource in resources %}
                                        {% if resource.hive = event.hive %}
                                        <li><a href="{{resource.link}}" target="_blank">{{resource.description}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </p>
                                <br/>
                                {% if event.playlist %}
                                <a href="{{ event.playlist }}" target="_blank"><h3>Playlist</h3></a>
                                {% else %}
                                <h3>Playlist</h3>
                                {% endif %}
                                <p>
                                    <ol style="text-align: left;">
                                    {% for registration in registrations %}
                                        {% if registration.song %}
                                        {% if registration.event = event %}
                                        <li>{{ registration.song }}</li>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </ol>
                                </p>
                                <br/>

                                <h3>Guests</h3>
                                <p>
                                    <ul style="text-align:left; list-style:none;">
                                    {% for registration in registrations %}
                                        {% if registration.event = event %}

                                        <li>
                                            {% if registration.profile %}
                                            <a href="{{ registration.profile }}" target="_blank">{{ registration.first_name}} {{ registration.last_name }}, {{ registration.department }}</a>
                                            {% else %}
                                            {{ registration.first_name}} {{ registration.last_name }}, {{ registration.department }}
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </p>
                                {% if user.is_authenticated %}
                                <p>
                                    <a href="mailto:
                                {% for registration in registrations %}
                                    {% if registration.event = event %}
                                        {{ registration.email }},
                                    {% endif %}
                                {% endfor %}
                                    "><i class="fa fa-envelope fa-3x"></i></a>
                                </p>
                                {% endif %}

                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<!--
<div class="container jumbotron-idea">

    <div class="row">
        <div class="col-lg-12"></div>
        <div class="col-md-6">
            <div style="display: inline-block; min-height: 400px; width:100%; margin: 0 auto; padding: 5%;">
                <p style="font-family: Roboto; font-size: 2em; color:white;">

                </p>

                <p class="title-font-top lv" style="margin:-0px auto; transform: rotate(-10deg);width:355px; margin-bottom: -50px;">liv</p>
                <div style="height: 160px; width:315px; margin: 0 auto;">
                     <p class="title-font element">&#x00c6</p>
                     <p class="title-font element">&#x00c6</p>
                     <p class="title-font element">&#x00c6</p>
                     <p class="title-font element">&#x00c6</p>
                </div>
                <div style="height: 160px; width:315px; margin: -160px auto;">
                      <p class="title-font element1" style="color:white;"></p>
                      <p class="title-font element2" style="color:white;"></p>
                      <p class="title-font element3" style="color:white;"></p>
                      <p class="title-font element4" style="color:white;"></p>
                    <p style="font-family: Roboto; font-size: 2em; color:white;" class="subtitle">

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:50px;">
            <p style="font-family: Roboto; font-size: 2em; color:white; margin: 5%;">
                Here's a chance for you to try that amazing project you've been thinking about.
            </p>
            <p style="font-family: Roboto; font-size: 2em; color:white; margin: 5%; font-weight:200;">
                We're building a network of people and resources so that <i>you</i> can make stuff happen.
            </p>
                <p style="font-family: Roboto; font-size: 2em; color:white; margin: 5%; margin-bottom: 0px;">Launch Event: "Build a 3D Printer"</p>
                <p style="font-family: Roboto; font-size: 2em; color:white; margin: 0 5%; font-weight:200; margin-top:0;">When/Where: 25 Jan, CTL</p>
                <a href="http://hipy.uk/register/5"><button style="margin: 5%; margin-bottom: 0; min-height: 80px; type="button" class="btn btn-primary">Register Now</button></a>

        </div>
        <br>
        <br>

        <div class="col-md-12" style="margin-top: 40px;">
            <hr style="margin: 1% 5%;">
            <p style="font-family: Roboto; font-weight:100; font-size: 1.5em; color:white; margin: 0 5%; margin-top: 0">We get by with a little help from our friends ...</p>
            <p style="margin: 0 auto; width:100%; text-align: center;">
                <img class="friend-logo" src="{% static 'img/liverpool.png' %}">
                <img class="friend-logo" src="{% static 'img/hipy_logo.png' %}">
                <img class="friend-logo" src="{% static 'img/rf.png' %}">
                <img class="friend-logo" src="{% static 'img/cdtpv.png' %}">
                <img class="friend-logo" src="{% static 'img/brothers.png' %}">
            </p>
        </div>
    </div>
    </div>
</div>
-->

{% endblock %}
