@font-face {
    font-family: alarm;
    src: url(../fonts/alarm.ttf);
}

@font-face {
    font-family: mountains;
    src: url(../fonts/beyond_the_mountains.ttf);
}


.title-font {
    font-family: alarm; !important
}
.title-font-top {
    font-family: mountains;
    color: white;
    font-size: 6em;
    margin: 0 -30px;
    margin-bottom: 10px;
}

.typed {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;

}

.typed-cursor{
    text-align: center;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-size: 2em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }}

p.title-font {
    font-size: 10em;
    margin:0;
    width: 75px;
    display: inline-block;
}

.element {
    color:#53AEFF;
}

body {
    background-color: #40A5FF;
}





.btn-primary {
    background: #428BCA;
    color: #fff;
    font-family: Roboto, Sans-serif;
    font-size: 20px;
    line-height: 60px;
    margin: 5%;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    font-size: 2em;
}


.btn-primary:hover {
  background: #CF4647;
}

.logo-box {
    text-align: center;
}

.friend-logo {
    max-height: 50px;
    margin: 2%;
}

div.developed-by {
    display: none;
}

div.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
div.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
div.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

div.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jumbotron {
    height: 100%;
    width: 100%;
    height: 100vh;
    padding:0;
    margin:0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

div.center {
    text-align: center;
}

div.layer {
    background: rgba(0, 184, 187, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.logo img {
    width:100%;
    max-width: 800px;
}

/* typed */
.typed {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;

}

.typed-cursor{
    text-align: center;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-size: 2em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* NAVBAR */

.navbar-custom .navbar-brand {
    color: #fff;
    font-family: alarm;
    font-size 1.2em;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #00fbff;
}

.navbar-custom .navbar-nav>.active>a {
    background-color: #00fbff;
}

.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
    background-color: #00fbff;
}

.navbar-custom .navbar-toggle {
    background-color: #00b8bb;
    border-color: #00b8bb;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
     background-color: #37b79b;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #00fbff;
}

.page-scroll.btn.btn-xl, .btn.btn-xl {
    color: #00b8bb;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #fff;
    border-color: #00b8bb;
}

/* everything from here is HiPY */