.text-small {
    font-size: 14px;
}

form#registrationForm div input{
    height: 50px;
    margin: 5px auto;
    margin-bottom: 20px;
    max-width:500px;
}

form#registrationForm regBtn{
    margin: 0 auto;
}

form#registrationForm div li {
    color: white;
    max-width: 500px;
    margin: 0px auto;
}
