.text-small {
    font-size: 14px;
    text-tranform: lowercase;
}

form#registrationForm div input {
    height: 50px;
    margin: 5px auto;
    margin-bottom: 20px;
    max-width:500px;
}

form#registrationForm div select{
    height: 50px;
    margin: 5px auto;
    margin-bottom: 20px;
    max-width:500px;
    width: 100%;
    display: block;
}

form#registrationForm regBtn{
    margin: 0 auto;
}

form#registrationForm div li {
    color: white;
    max-width: 500px;
    margin: 0px auto;
}
p.contact-icons a {
    color:white;
    margin: 0 25px;
}
p.contact-icons a:hover {
    color: #fed136;
}
div.about p {
    font-size: 1.5em;
    line-height: 2em;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info {
    position: absolute;
    top: 0; right: 0;
    width: 33%;
    background: rgba(0,0,0,0.3);
    color: #fff;
     }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

header {
    background: rgba(175, 113, 0, 0.81);
}

#portfolio .portfolio-hover-idea {
  background: rgba(0,251,255, 0.9) !important;
}

div.signup-idea {
    background: #2f9cc1 !important;
}
div.signup-idea:hover {
    background: rgb(0,251,255) !important;
}
.portfolio-item a {
    text-decoration: none;
}

.modal-body a {
    text-decoration: none;
}

p.module-description {
    text-align: left;
    font-size: 1.2em;
}

.module-title {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}